nav {
  border-radius: 0;
  position:sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #3379b7;
}
.logo{
  width: 45px;
  height: 40px;
  margin: 5px 10px;
}
.logoButton{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
li a{
  color: #3379b7;
}
