<footer class="container-fluid">
  <div class="left">
    <a href="mailto:muhammad.elshowey@gmail.com">Send me Email</a>
  </div>
  <div class="right">
    <ul>
      <li>
        <a href="https://www.facebook.com/mohammed.elshowehy.5" target="_blank"
          >Facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/muhammad-gamal-elshowehy-972b72224/"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li>
        <a href="https://github.com/MuhammadElshowehy" target="_blank"
          >Github</a
        >
      </li>
      <li><a href="whatsapp:+201063998038" target="_blank">Whatsapp</a></li>
    </ul>
  </div>
</footer>
