footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #337ab7;
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative;
  z-index: 3;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0 5px;
}
a{
  text-decoration: none;
  color: white;
}
