<a style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="row">
    <div class="pull-left col-xs-9">
      <h4 class="list-group-item-heading">
        {{ recipe.name | titlecase }}
      </h4>
      <h4 class="list-group-item-text">
        {{ recipe.desc }}
      </h4>
    </div>
    <div class="pull-right col-xs-3">
      <img
        [src]="recipe.imgPath"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 55px"
      />
    </div>
  </div>
</a>
